header {
  background-image: linear-gradient(to right top, #051937, #231437, #370c2f, #450420, #4a070d);
  padding: 5px 0;
}

.logo1{
  width: 250px;
}
.logo2{
  width: 100px;
}

.caja{
  width: auto;
  position: relative;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 50px;
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 40px;
}

nav a {
  text-transform: uppercase;
  color: #f1eded;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Andika', sans-serif;

}

nav a:hover{
  color: #c78c19;
  text-decoration: underline;
}


.utensilios{
  width: 120px;
  float: left;
  margin: 0 20px;
}



.body h2{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;   

}

h2{
  margin: 0 0 15px 0;
}

.fragmento{
  padding: 30px;
  font-size: 20px;
  text-align: center;
  font-family: 'Andika', sans-serif;

}

em strong{
  color: red;
}


.lista{
  display: inline-block;
  font-size: 30px;
  font-family: 'Andika', sans-serif;
  vertical-align: top;
  width: 30%;
  margin-right: 30%;
  margin-left: 5%;
}


.productos{
  margin: 0 auto;
  padding: 10px;
}

.productos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px #000000 dotted;
  border-radius: 50px;

}

.productos li:hover{
  border-color: #c78c19;

}

.productos li:active{
  border-color: #088c19;
}
.productos h2{
  font-size: 30px;
  font-weight: bold;
}

.productos li:hover h2{
  font-size: 33px;
}

.producto-descripcion{
  font-size: 18px;
}

.product-precio{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.imag{
  width: 250px;
  margin: 0 auto;
}

.footer{
  background: url(./bg.jpg);

}

footer{
  text-align: center;
  color: white;
}

@media (max-width: 480px) {
  .logo1{
      width: 100px;
      margin: 0 0 0px 150px;
  }
  .logo2{
    width: 100px;
  }
  nav{
      position:initial;
      font-size: 5px;
  }
  .footer{
      width: auto;

  }
  .imag{
    width: 100px;
    margin: 0 auto;
  }
  .productos {
    display: flexbox;
    padding: 30px 20px;
    text-align: center;
  }
  #cons{
    font-size: 15px;
  }
}

